.block.full-width
	%footer
		%div
			= link_to 'промо', '/promo'
			= link_to 'о проекте', '/about'
		= render partial: 'blocks/logo', locals: { theme: :light }
		%div
			= link_to 'telegram', 'https://t.me/digitalroam'
			= link_to 'vk', 'https://vk.com/club223209277'
