= render partial: 'blocks/header'

.container.tight
	%h1.l Что такое Roam?
	.description.full-width
		%div
			%p.border медиа-платформа для диджитал кочевников
			.img.border
		%div
			.img.border
			%p.border обширное хранилище структурированной информации о местах и направлениях, куда цифровым кочевникам нашей страны можно держать курс

.container.tight
	%h1.l Из чего состоит Roam?
	.highlights.full-width
		%div
			= render partial: 'blocks/highlight', locals: { title: 'работа', image: 'MONEY.svg', description: '(вся необходимая информация о профессиях и вакансиях в разных точках мира, частичная занятость и фултайм — все виды онлайн-заработка на любой вкус)' }
			= render partial: 'blocks/highlight', locals: { title: 'направления', image: 'TICKET.svg', description: '(поиск по специально отобранным местам, которые отлично подходят для кратковременного пребывания и дистанционной работы. Узнайте все плюсы и подводные камни городов и стран)' }
		%div
			= render partial: 'blocks/highlight', locals: { title: 'материалы', image: 'ARTICLE.svg', description: '(собранные редакцией статьи о цифровом кочевничестве со всего света: истории успеха, гуд практисы и путеводители для людей, живущих вне границ)' }

.container.tight
	%h1.l Для кого Roam?
	.users.full-width
		%p.border диджитал кочевники
		%p.border культурные энтузиасты
		%p.border студенты
		%p.border языковые энтузиасты
		%p.border предприниматели
		%p.border путешественники
		%p.border фрилансеры
		%p.border исследователи

= render partial: 'blocks/footer'
