<!DOCTYPE html>
<html>
  <head>
    <title>Roam</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag '/favicon.png' %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= action_name.gsub('_', '-') %>">
    <div class="container parent">
      <%= yield %>
    </div>
  </body>
</html>
